<div class="code">
    <h3 class="code-title">Kod namunalari uchun github havolalari</h3>
    <div class="code-box">
       <a class="code-cart" href="https://github.com/negomi/react-burger-menu">
        React burger-menu
       </a>
       <a class="code-cart" href="https://github.com/negomi/react-burger-menu">
        React burger-menu
       </a>
       <a class="code-cart" href="https://github.com/negomi/react-burger-menu">
        React burger-menu
       </a>
       <a class="code-cart" href="https://github.com/negomi/react-burger-menu">
        React burger-menu
       </a>
       <a class="code-cart" href="https://github.com/negomi/react-burger-menu">
        React burger-menu
       </a>
       <a class="code-cart" href="https://github.com/negomi/react-burger-menu">
        React burger-menu
       </a>
    </div>
</div>
